<div *ngIf="galaxy" class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img [src]="galaxy.photo" alt="Galaxy Image" class="img-fluid">
    </div>
    <div class="col-md-8">
      <h5 class="card-title">Имя Галактики: {{ galaxy.name }}</h5>
      <p class="card-text">Данные галактики: {{ galaxy.description }}</p>
      <p class="card-text">Дистанция: {{ galaxy.distance }}</p>
      <button type="button" class="btn btn-danger" (click)="deleteGalaxy()">Удалить галактику</button>
    </div>
  </div>
</div>

